<div *ngIf="!questions">
  <h5 class="alert alert-warning" role="alert">Aún no has elegido ninguna categoría</h5>
</div>

<div *ngIf="questions && questions.length > 0">
  <!--<h3>{{questions[0].category}}</h3>-->
  <div *ngFor="let question of questions">
    <h5>{{ question.question}}</h5>
    <div class="radio" *ngFor="let answer of question.answers">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        {{ answer }}
      </label>
    </div>
  </div>
</div>
